@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-spec{
  background-color: theme("colors.bgspec");
}

.active-tab {
  background-color: theme("colors.bgspec");
  border-left: 4px solid theme("colors.bgred");
}

.inactive-tab {
  border-left: 4px solid transparent;
}
